.accesorise__2 {
  width: 100%;
  
  .accesorise__main {
    width: 90%;
    height: 550px;
    background-color: #f0f0f1;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    .swiper {
      width: 100%;
      height: 100%;
      border: 1px solid #e9e9ed;
      border-radius: 16px;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: var(--fontfamily);
      h5 {
        font-size: 16px;
        font-weight: 700;
        line-height: 4;
        margin-right: 20px;
        color: black;
      }
      p {
        color: gray;
      }
      span {
        color: #19c8e3;
      }
      img {
        all: unset;
        width: 80px;
        height: 80px;
        margin: 20px 0;
      }
      .accesorise__slider {
        text-decoration: none;
        display: flex;
        flex-flow: row wrap;
        height: 550px;
        .swiper__title {
          width: 100%;
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          justify-content: flex-start;
        }
        .accesorise__images {
          width: 100%;
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          justify-content: center;
          .images {
            padding: 8px;
            & img {
              width: 130px;
              height: 130px;
            }
          }
          .first {
            border-left: 1px solid #f0f0f1;
            border-bottom: 1px solid #f0f0f1;
            padding-bottom: 12px;
          }
          .second {
            border-bottom: 1px solid #f0f0f1;
            padding-bottom: 12px;
          }
          .third {
            border-left: 1px solid #f0f0f1;
            padding-bottom: 12px;
          }
        }
        .view {
          width: 100%;
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .swiper {
    width: 100%;
    height: 100%;
  }
}
